* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  width: 20rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 0px #272727;
}

h1 {
  padding: 1rem;
}

hr {
  padding: 1rem;
}

input[type="color"] {
  padding: 1rem 2rem;
  margin: 0.25rem;
  border-radius: 4px;
  cursor: pointer;
}

p {
  padding: 1rem;
}

span {
  font-weight: 300;
}

.picker-container {
  padding: 1rem;
}

.color-grid {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  width: 100%;
  gap: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.color-grid p {
  width: 100%;
  display: block;
}

.color {
  width: 50px;
  height: 50px;
  border: 1px black solid;
}

.color:nth-child(1) {
  background-color: rgb(0, 255, 166);
}

.color:nth-child(2) {
  background-color: rgb(255, 208, 0);
}

.color:nth-child(3) {
  background-color: rgb(0, 0, 0);
}

.color:nth-child(4) {
  background-color: rgb(255, 0, 85);
}

.color:nth-child(5) {
  background-color: #133c55;
}

.color:nth-child(6) {
  background-color: rgb(255, 0, 0);
}

.color:nth-child(7) {
  background-color: aqua;
}

.color:nth-child(8) {
  background-color: rgb(102, 0, 255);
}
